In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import count

In [3]:
spark =

21/09/29 21:26:59 WARN Utils: Your hostname, breno-indra resolves to a loopback address: 127.0.1.1; using 192.168.15.5 instead (on interface wlo1)
21/09/29 21:26:59 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/breno/.local/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.0.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/09/29 21:27:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [19]:
words_list = "Sparks makes my life easier and put me into good Spirits, Sparks is too crazy".split(" ")

In [20]:
words_rdd = spark.sparkContext.parallelize(words_list)

In [21]:
words_data = words_rdd.collect()

In [22]:
for word in words_data:
    print(word)

Sparks
makes
my
life
easier
and
put
me
into
good
Spirits,
Sparks
is
too
crazy

In [23]:
words_rdd

ParallelCollectionRDD[13] at readRDDFromFile at PythonRDD.scala:262

In [24]:
words_rdd.count()

15

In [25]:
words_rdd.distinct().count()

14

In [26]:
words_data = words_rdd.collect()

for word in words_data:
    print(word)

Sparks
makes
my
life
easier
and
put
me
into
good
Spirits,
Sparks
is
too
crazy

In [27]:
words_unique_rdd = words_rdd.distinct()

In [31]:
for word in words_unique_rdd.collect():
    print(word)

good
crazy
makes
life
Spirits,
my
easier
too
Sparks
put
and
into
is
me

In [32]:
num_list = [*range(1, 21)]
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [33]:
def word_startswith(word, letter):
    return word.startswith(letter)

In [34]:
nums_rdd = spark.sparkContext.parallelize(num_list)

In [35]:
words_rdd.flatMap(lambda word: list(word)).take(10)

['S', 'p', 'a', 'r', 'k', 's', 'm', 'a', 'k', 'e']

In [36]:
countries_list = [('Brasil', 20), ('Alemanha', 22), ('Australia', 20)]

In [37]:
countries_rdd = spark.sparkContext.parallelize(countries_list)

In [38]:
srtd_countries_list = countries_rdd.sortByKey().collect()

In [40]:
for c in srtd_countries_list:
    print(c)

('Alemanha', 22)
('Australia', 20)
('Brasil', 20)

In [41]:
srtd_countries_list = countries_rdd.map(lambda c: (c[1], c[0])).sortByKey(False).collect()

In [42]:
srtd_countries_list

[(22, 'Alemanha'), (20, 'Brasil'), (20, 'Australia')]

In [43]:
num_list = [1, 5, 3, 4]

In [44]:
result = spark.sparkContext.parallelize(num_list).reduce(lambda x, y: x + y)
result

13

In [45]:
days_temperature = [65, 45.6, 67.6, 34.5, 87.7]

days_temperature_rdd = spark.sparkContext.parallelize(days_temperature)

In [46]:
def convert_to_celsius(temperature):
    return (temperature - 35) * 5/9

In [47]:
days_temperature_rdd_celsius = days_temperature_rdd.map(lambda x: convert_to_celsius(x))

In [50]:
for d in days_temperature_rdd_celsius.collect():
    print(d)

16.666666666666668
5.888888888888889
18.111111111111107
-0.2777777777777778
29.27777777777778

In [ ]:
days_temperature_rdd_celsius